* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact-section {
    background-color: rgb(132, 88, 88);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    color: black;
    font-size: 20px;
    border-radius: 0.5rem;
}

#contact-section h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left:80px;
    padding-bottom: 20px;

}

#contact-section form {
    padding-left: 70px;

}

#contact-section button {
    display: flex;
    justify-content: center;
    padding-left: 100px;

}

#contact-section input {
    width: 50%;
    border: 0;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    padding-left: 20px;
    width: 400px;
    height: 55px;
    outline: none;
    color: #101010;
    background-color: #cb5974;
}

#contact-section img {
    margin-top: 10px;
    padding-left: 150px;
}

#contact-section form select {
    display: inline-block;
    margin-left: 50px;
    padding: 15px 25px;
    background-color: #cb5974;
    width: 400px;
    height: 55px;
    color: black;
    border-radius: 45px;
    border: 1px solid whitesmoke;
    transition: all 0.3s;
    margin-bottom: 20px;
}

#contact-section form button {
    text-align: center;
    display: inline-block;
    margin-left: 170px;
    padding: 15px 50px;
    background-color: #cb5974;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #cb5974;
    transition: all 0.3s;
    margin-bottom: 20px;
}